* {
    font-family: 'Source Sans Pro', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}
span {
    font-weight:300;
}
input {
    text-indent: 5px;
}
hr {
    margin: 15px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}
fieldset h3 {
    font-size: large;
    font-weight: 500;
    margin: 0 0 20px 0;
    padding: 0;
}
fieldset h3 i {
    margin-right: 10px;
}
fieldset small {
    display: inline-block;
    color: #999999;
    margin-bottom: 10px; 
}
.input-group {
    margin: 10px 0 10px 0;
}
.input-group input {
    margin-bottom: 0px;
}
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

header {
    background-color: rgb(55,55,55);
    color: rgb(175,175,175);
    height: 75px;
    width: 100%;
    min-width: 1024px !important;
}

header h1 i {
    margin-left: 20px;
    font-size: 0.75em;
}
a { color: rgb(175,175,175); }
a:link{ color: rgb(175,175,175); text-decoration: none; }
a:hover{ color: rgb(175,175,175); text-decoration: none; }
a:active{ color: rgb(175,175,175); text-decoration: none; }

header li:hover {
    cursor: pointer;
    background-color: rgb(38,36,36);
}

header h1 {
    float: left;
    margin: 0 0 0 20px;
    line-height: 75px;
    height: 75px;
    
    font-size: 1.5em;
}
header i {
    padding: 0 8px 0 8px;
}
header ul {
    height: 75px;
    float: left;
    margin: 0;
    padding-left: 250px;
}
header ul li {
    float: left;
    list-style: none;
    line-height: 75px;
    height: 75px;
    padding: 0 15px 0 15px;
}
#profile {
    background-color: rgb(45,45,45);
}
#profile i {
    font-size: 1.0em;
    color: white;
}
.clear {
    clear: both;
}

/* column */
#column {
    min-width: 1024px !important;
}

/* left column */
#left_column {
    border-right: 1px solid rgb(230,230,230);
    float: left;
    width: 300px;
}

#left_column a { color: rgb(84,84,84); }
#left_column a:link{ color: rgb(84,84,84); text-decoration: none; }
#left_column a:hover{ color: rgb(84,84,84); text-decoration: none; }
#left_column a:active{ color: rgb(84,84,84); text-decoration: none; }

#left_column ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
#left_column li {
    width: 100%;
    height: 70px;
}
#left_column h2 {
    color: rgb(84, 84, 84);
    margin: 0; padding: 0 0 0 30px;
    font-size: 1.0em;
    float: left;
    line-height: 70px;
    height: 70px;
}
#left_column span {
    text-align: center;
    font-size: 1.5em;
    color: rgb(55,55,55);
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-right: 1px solid rgb(230,230,230);
}

#selected span {
    color: white;
    background-color: rgb(97,168,220);
}

#left_column li:hover {
    cursor: pointer;
}

#left_column li:hover span {
    transition: 0.2s;
    -webkit-transition: 0.2s; /* Safari */
    color: white;
    background-color: rgb(51,51,51);i
}
#left_column ol li:last-child {
    border-bottom: 1px solid rgb(230,230,230);
}

/* right column */
#right_column {
    display :inline;
    height: 100px;
}

#load_bar {

    overflow: hidden;
    height: 5px;
    background-color: rgb(97,168,220);
}

#right_header {
    overflow: hidden;
    margin-bottom: 40px;
    height: 75px;
    border-bottom: 1px solid rgb(230,230,230);
}
#right_header h3 {
    color: rgb(84, 84, 84);
    margin: 0; padding: 0 0 0 30px;
    font-size: 1.2em;
    float: left;
    line-height: 75px;
    height: 75px;
}
#right_header span {
    text-align: center;
    font-size: 2.0em;
    color: rgb(55,55,55);
    float: left;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

#right_column #right_header h3:last-child {
    padding-left: 250px;
    color: rgb(212,212,212);
}


/* Content */
.content {
    width: 650px;
    float: left;
}
.dashboardBlock {
    float: left;
}
.dashboardBlock a {
    color: rgb(55,55,55);
}
.dashboardBlock div {
    height: 100px;
}
.dashboardBlock span {
    float: left;
    font-size: 3.0em;
    text-align: center;
    width: 100px;
    height: 100px;
}
.dashboardBlock h4 {
    margin: 0;
    font-weight: 900;
    float: left;
    height: 25px;
}
.dashboardBlock p {
    margin: 0;
    font-weight: 300;
    font-size: 0.9em;
    width: 225px;
    float: left;
    height: 75px;
}

/* Most Recent */
.content_banner {
    float: left;
    background-color: rgb(55,55,55);
    width: 100%;
    height: 50px;
}
.content_banner span {
    margin-right: 10px;
    margin-left: 300px;
}
.content_banner h4 {
    color: white;
    margin: 0;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    text-indent: 20px;
}
.content_banner input {
    color: rgb(55,55,55);
    float: left;
}
.content_banner .fa-stack {
    font-size: 1.0em !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
}
.content_banner .fa-stack :first-child {
    font-size: 1.0em !important;
}
.content_banner a {
    color: white !important;
}
.content_banner .fa-stack i {
    font-size: 0.6em !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
}

.content_banner div {
    background-color: rgb(55,55,55);
    width: 100%;
    height: 50px;
}


.content fieldset {
    padding: 20px 10px 20px 10px;
}


table {
    width: 100%;
    text-indent: 9px;
    border: 1px solid rgb(230,230,230);
    text-align: left;
}
table th {
    padding: 10px 0 4px 0;
}
table td {
    
    font-size: 0.9em;
    color: rgb(40,40,40);
    padding: 4px 0 4px 0;
    border-top: 1px solid #dddddd;
}

table span {
    float: left;
    height: 30px;
    width: 30px;
    font-size: 1.0em;
}

table tr:nth-child(odd)		{ background-color:#eee; }
table tr:nth-child(even)		{ background-color:#fff; }

table tr:first-child {
    border-bottom: 2px solid rgb(0,0,0);
    background-color: #fff;
}

table a { font-weight: bold; color: rgb(40,40,40); }
table a:link{ font-weight: bold; color: rgb(40,40,40); text-decoration: none; }
table a:hover{ font-weight: bold; color: rgb(40,40,40); text-decoration: none; }
table a:active{ font-weight: bold; color: rgb(40,40,40); text-decoration: none; }


/* Login */
#login {
    background-color: #34495e;
    height: 100%;
}


#login_head {
    height: 150px;
    background-color: #34495e;
}
#login_form {
    height: 400px;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: white;
}
#login_footer {
    height: 25%;
    background-color: #34495e;
}

#login_form h1 {
    width: 100%;
    text-align: center;
}


#login_form input {
}
#login_form i {
    color: rgb(200,200,200);
    float: left;
    position: relative;
    top: -35px;
    right: -270px;
}
#login_form p {
    font-size: 0.9em;
    text-align: center;
}
#login_form form {
    padding: 4px 0 0 0;
    width: 300px;
    margin: 0 auto 0 auto;
}

#login_head h1 {
    margin: 0 auto 0 auto;
    padding: 70px 0 0 0;
    color: white;
    width: 300px;
    font-weight: 500;
    font-size: 1.4em;
    height: 40px;
    line-height: 60px;
}
#login_head h2 {
    margin: 0 auto 0 auto;
    padding 0 0 10 0;
    color: white;
    width: 300px;
    font-size: 1.0em;
    font-weight: lighter;
    height: 40px;
    line-height: 30px;
}

#login_form button {
    width: 100%;
    font-size: 1.2em;
    margin: 12px 0 0 0;
    font-weight: bold;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(200,200,200);
    height: 50px;
}

.form-control {
    display: block;
    margin: 0 0 8px 0;
    text-indent: 14px;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#login h4 {
    color: white;
    font-size: 0.9em;
    width: 300px;
    font-weight: 200;
    margin: 12px auto 0 auto;
}

#dashboard {
    margin-left: 12px;
}

.search_field {
    width: 401px;
    height: 30px;
    border: 1px solid rgb(230,230,230);
    line-height: 30px;
}
.search_field_button:hover {
    cursor: pointer;
}
.search_field_button {
    display: inline-block;
    font-family:'Karla', verdana, sans-serif;
    font-weight: normal;
    background-color: rgb(97,168,220);
    border: 1px solid rgb(97,168,220);
    color: #fff;
    text-decoration: none;
    width: 244px;
    text-align: center;
    height: 35px;
    line-height: 30px;
}
.search_field_button:hover {
    background-color: #3692d0;
    border-color: #3692d0;
    text-decoration: none;
}
.datePicker {
    font-size: 0.8em;
    text-indent: 4px;
}

.green {
    color: rgb(90,150,60);
}

.left {
    float: left;
}
.right {
    float: right;
}

.margin-t-b {
    margin: 15px 0 15px 0;
}
.margin-l-r {
    margin: 0 15px 0 15px;
}

.padding-l-5 {
    padding-left: 5%;
}
.padding-l-10 {
    padding-left: 10%;
}
.padding-r-5 {
    padding-right: 5%;
}
.padding-r-10 {
    padding-right: 10%;
}
.padding-l-r-5 {
    padding: 0 2.5% 0 2.5%;
}

.background-bla {
    background-color: rgb(55,55,55);
}
.background-blu {
    background-color: rgb(97,168,220);
}

.width-45 {
    width: 45%;
}
.width-50 {
    width:50%;
}


.four-tenth {
    width: 40%;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.full {
    width: 100%;
}
.white {
    color: white;
}
.red {
    color: #d12324;
}
.fbblue {
    color: #3B5998;
}
.yellow {
    color: #be8408;
}