@model IEnumerable<MVC5Demo.Models.Individual>

@{
    ViewBag.Title = "DASHBOARD";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="half dashboardBlock">
    <span><i class="fa fa-list-alt"></i></span>
    <h4>@Html.ActionLink("Add Record", "Create","Individuals")</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
</div>
<div class="half dashboardBlock">
    <span><i class="fa fa-print"></i></span>
    <h4>Print a Report</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
</div>
<div class="half dashboardBlock">
    <span><i class="fa fa-search"></i></span>
    <h4>Advanced Search</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
</div>
<div class="half dashboardBlock">
    <span><i class="fa fa-question-circle"></i></span>
    <h4>Help / Support</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
</div>

<div id="most_recent" class="content half">
    <div class="content_banner">
        <h4><i class="fa fa-list"></i>&nbsp;&nbsp;Most Recently Modified</h4>
    </div>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Completed</th>
        </tr>
        @foreach (var item in Model) 
        {
            <tr>
                <td> @Html.ActionLink(item.FullName, "Edit","Individuals", new { id=item.Id },null)</td>
                <td> @Html.DisplayFor(modelItem => item.DateAdded) </td>
                <td></td>
            </tr>  
        }
    </table>
</div>